<!DOCTYPE html>
<html>
<!-- Automatically create head tag, title is document name -->

<head>
    <title>challenge</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="wrapper">
        <h2>Example</h2>
        <p class="text1">Demonstration of the box model:</p>
        <p class="paragraph">HTML Codes</p>
        <button class="button">
            <a href="#" class="button-text">Try it Yourself >></a>
        </button>
    </div>
</body>
<!-- 54064isCRN -->
<!-- 各ページでテストを記載すること、何が予測されるか、動き、ナビゲーションページも全部のページに追加 -->
<!-- display: inline;は横に揃えてくれる -->
<!-- zindex zero overwrap -->
<!-- diplay none unvisible, display block visible
https://www.w3schools.com/css/tryit.asp?filename=trycss_dropdown_navbar

アセスメントの５は、form 作成
input 5typeで記載します。
-->

</html>