body{
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

.title-text {
    font-size: 18px;
}

.input-form{
    width: 25rem;
    padding: 10px;
}

.form{
    width: 26.5rem;
    padding: 10px; 
}